html {
    width: 100%;
    height: 100%;
}
body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#question1 {
    display: none;
}
#question2 {
    display: none;
}
#question3 {
    display: none;
}
#question4 {
    display: none;
}
#question5 {
    display: none;
}
#question6 {
    display: none;
}
#question7 {
    display: none;
}
#question8 {
    display: none;
}
#question9 {
    display: none;
}
#question10 {
    display: none;
}
#timer {
    display: none;
}
#correctLoading {
    display: none;
}
#wrongLoading {
    display: none;
}
#unansweredQ {
    display: none;
}
#question11 {
    display: none;
}
